<div class="row">
  <div class="col-md-3">

  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span>Bienvenido</span> (Prueba Examen)</h1>
    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>If you want to </span>
        <a class="alert-link" (click)="login()">sign in</a
        ><span
          >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").</span
        >
      </div>
    </div>
    <div>
      <span>
        <h3>Usuarios desde el API 'https://gorest.co.in/'</h3></span>
         <div>
          <table>
            <thead>
              <tr>
                <th scope="col">
                  id
                </th>
                <th scope="col">
                  name
                </th>
                <th scope="col">
                  email
                </th>
                <th scope="col">
                  gender
                </th>
                <th scope="col">
                  status
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of usersApi">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.status }}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
