<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="usuario">
      <h2 data-cy="usuarioDetailsHeading"><span>Usuario</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ usuario.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ usuario.name }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ usuario.lastName }}</span>
        </dd>
        <dt><span>Mlast Name</span></dt>
        <dd>
          <span>{{ usuario.mlastName }}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
          <span>{{ usuario.username }}</span>
        </dd>
        <dt><span>Birthday</span></dt>
        <dd>
          <span>{{ usuario.birthday | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/usuario', usuario.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
